<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="googleClientId" content="<%- googleClientId %>">
    <title>Count Me In</title>
    <link rel="stylesheet" type="text/css" href="/css/main.min.css">
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Passion+One" rel="stylesheet">
</head>

<body>
    <div class="container" id="app" v-bind:class="{ on: isOn }">
        <div v-if="!isRegistered" class="registerUser" style="display:none" v-bind:style="{ display: !isRegistered }">
            <g-signin-button :params="googleSignInParams" @success="onSignInSuccess" @error="onSignInError">
            </g-signin-button>
        </div>
        <div v-else>
            <div v-if="isDisabled" class="votingOff" style="display:none" v-bind:style="{ display: isDisabled }">
                <div v-if="!isTimerStarted" class="votingClosed" style="display:none" v-bind:style="{ display: !isTimerStarted }">
                    Votings are closed
                </div>
                <div v-else class="votingTimer" style="display:none" v-bind:style="{ display: isTimerStarted }">
                    Votings will open in
                    <span>{{ timer }}</span>
                </div>
            </div>
            <div v-else style="display:none" class="votingOn" v-bind:style="{ display: !isDisabled }">
                <div class="registeredUser" v-bind:class="{ loading: playerLoading,  mouseDown: isMouseDown }">
                    <!-- <button class="countMeIn" v-on:click="countMeIn" v-bind:class="{ bookingClosed: isBookingFull }"></button> -->
                    <div class="pulse" v-bind:class="[{ bookingClosed: isBookingFull }, progress]">
                        <div class="out" v-on:click="countMeIn" v-on:mousedown="mouseDown" v-on:mouseup="mouseUp">
                            <div>Count<br/>Me<span>In</span></div>
                        </div>
                        <div class="in">
                            <div>You<br/>are<span>In</span></div>
                        </div>
                        <div class="full"></div>
                    </div>
                    <div class="pie-wrapper style-2" v-bind:class="[progress]">
                        <div class="pie">
                            <div class="left-side half-circle"></div>
                            <div class="right-side half-circle"></div>
                        </div>
                        <div class="shadow"></div>
                    </div>
                    <div class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://apis.google.com/js/api:client.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/site.min.js"></script>

</html>